{% extends 'base.html' %}
{% block title %} Профайл пользователя {{ author }}{% endblock %}

{% block content %}
  <div class="container py-5">        
    <div class="mb-5">
      <h1>Страница пользователя "{{ author.get_full_name }}"</h1>
      <h5>Посты: {{ posts_count }}</h5>
      <h5>Подписчики: {{ author.following.count }}</h5>
      <h5>Подписки: {{ author.follower.count }}</h5>
      <h5>Комментарии: {{ author.comments.count }}</h5>
      {% if user != author  %}
        {% if user.is_authenticated %}
          {% if following %}
            <a class="btn btn-lg btn-light"
            href="{% url 'posts:profile_unfollow' author.username %}"
            role="button">Отписаться</a>
          {% else %}
            <a class="btn btn-lg btn-primary"
            href="{% url 'posts:profile_follow' author.username %}"
            role="button">Подписаться</a>
          {% endif %}
        {% endif %}
      {% endif %}
    </div> 
    {% for post in page_obj %}
      <article>
        {% include 'posts/includes/post_list.html' %}
      </article>
      {% if post.group %}
        <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы {{ post.group.title }}</a>
      {% endif %}
      {% if not forloop.last %} <hr> {% endif %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}  
  </div>
{% endblock %}
